.projectContainer {
    border-bottom: 1px solid black;

    @media screen and (min-width: 1280px) {
        width: 800px;
        h3 {
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
            font-size: 1.1rem;
        }
    }

    @media (max-width: 1279px) and (min-width: 769px) {
        width: 100%;
        padding: 8px;

        h3 {
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
            font-size: 1.1rem;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        padding: 8px;
        h3 {
            font-size: 1.3rem;
        }
        a {
            text-decoration: none;
            font-size: 1.2rem;
        }
        p {
            font-size: 1rem;
        }
    }
}

.header {
    font-size: 1.6rem;
}