.projectContainer {
    border-bottom: 1px solid black;

    @media screen and (min-width: 1280px) {
        h3 {
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
            font-size: 1.1rem;
        }
        width: 800px;
    }

    @media screen and (max-width: 1279px) and (min-width: 769px) {
        h3 {
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
            font-size: 1.1rem;
        }
        width: 800px;
    }

    @media screen and (max-width: 768px) and (min-width: 481px) {
        width: 100%;
        padding: 4px;
        h3 {
            font-size: 1rem;
        }
        a {
            text-decoration: none;
            font-size: 0.9rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
    
}