h1 {
    text-decoration: underline;
    font-size: 32px;
}

h2 {
    color: white;
}

a {
    font-size: 24px;
}


.aboutMeTextContainer {
    .headline {
        text-decoration: underline;
    }
    .aboutMeText {
        font-size: 18px;
        font-weight: bold;
    }
    @media screen and (min-width: 1280px) {
        width: 30%;
    }
    @media screen and (max-width: 1279px) and (min-width: 769px) {
        width: 50%;
    }
    @media screen and (max-width: 768px) and (min-width: 481px) {
        width: 90%;
    }
}