.navContainer {
    display: flex;
    padding: 16px;
    gap: 12px;
    @media screen and (min-width: 1280px) {
        position: fixed;
        left: 0;
        top: 120px;
        flex-direction: column;
    }
    @media screen and (max-width: 1279px) and (min-width: 769px) {
        position: fixed;
        left: 0;
        top: 120px;
        flex-direction: column;
    }
    @media screen and (max-width: 768px) and (min-width: 481px) {

    }
  

    #selected {
        background-color: #202020;
    }

    button {
        outline: none;
        border: 1px solid #b6b6b6;
        border-radius: 4px;
        padding: 6px 18px;
        font-size: 0.9rem;
        cursor: pointer;   
    }
}